/.metadata/
.metadata/**
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
04-stock-lambda-enhancer/.settings/*
04-stock-lambda-enhancer/target/*
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
